.notFoundContainer {
  background-color: #d9d9d9;
  width: 100%;
  max-width: 44.375rem;
  max-height: 9.0625rem; 
  border-radius: 0.625rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.notFoundMessage {
  font-size: 0.9375rem;
  color: #ff0000;
  text-align: center;
  line-height: 1.5;
}